@import url("https://fonts.googleapis.com/css?family=Comfortaa");
/* line 1, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_reset.scss */
*, *::after, *::before {
  box-sizing: border-box;
}

/* line 10, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_reset.scss */
a, li {
  text-decoration: none;
  list-style-type: none;
}

/* line 1, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav {
  top: 0;
  width: 100%;
  height: 20vh;
}

/* line 8, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-hamburger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  /* line 8, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
  .nav-hamburger {
    top: 2rem;
    right: 2rem;
    width: 3rem;
  }
}

/* line 22, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-hamburger-line {
  height: 4px;
  background-color: #09110E;
  margin-bottom: 0.5rem;
  transition: .3s ease;
}

@media screen and (min-width: 768px) {
  /* line 22, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
  .nav-hamburger-line {
    height: 6px;
    margin-bottom: 0.5rem;
  }
}

/* line 34, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.hamburger-is-active {
  background-color: #D80303;
}

/* line 39, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-menu {
  background-color: #DADEDE;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  transform-origin: top;
  transform: scaleY(0);
}

/* line 47, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-menu a {
  color: #09110E;
}

/* line 51, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-menu ul {
  padding: 0;
  margin: 0;
}

/* line 56, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-menu ul li {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  /* line 39, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
  .nav-menu {
    font-size: 1.5rem;
  }
}

/* line 65, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-is-active {
  animation: menuAnimationOn .5s 1;
  transform: scaleY(1);
}

/* line 70, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_nav.scss */
.nav-not-active {
  animation: menuAnimationOff .3s 1;
  transform: scaleY(0);
}

@keyframes menuAnimationOn {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes menuAnimationOff {
  0% {
    transform: scaleY(1);
  }
  70% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

/*
  TABLET
*/
/* line 1, C:/Users/Leo/Desktop/Projekt/Skolprojekt/HTML & CSS/Webknot/scss/_tags.scss */
body {
  font-family: 'Comfortaa', verdana;
}

/*# sourceMappingURL=../css/style.map */