.footer {
  background-color: $color-text;
  color: $color-background;
}

.footer__container {
  @include flex(column, center, center);
  width: 100%;
  padding-top: $large;
}

.footer__social-media__button {
  width: $large;
}

.footer__arrow {
}

.footer__arrow--text {
  text-transform: uppercase;
  font-weight: normal;
}

.footer__arrow--image {
  width: 100%;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;

  &:hover {
    -webkit-animation: bouncyArrow 2s infinite;
            animation: bouncyArrow 2s infinite;
  }
}

@-webkit-keyframes bouncyArrow {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes bouncyArrow {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
