.header {
  display: block;
}

.header__container {
  position: relative;
  padding-top: $large;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: $desktop) {
      width: 60%;
    }
  }
}
