.header {
  display: block;
  height: 50vh;
  @media screen and (min-width: $desktop) {
  }
}

.header__container {
  position: relative;
  padding-top: $large;

  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
