@mixin flex($direction: null, $justify: null, $align: null) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
  -webkit-box-pack: $justify;
      -ms-flex-pack: $justify;
          justify-content: $justify;
  -webkit-box-align: $align;
      -ms-flex-align: $align;
          align-items: $align;
}
