@mixin flex($direction: null, $justify: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin dangle-logo($count) {
  .nav__menu__logo {
    transform-origin: top;
    animation-name: dangle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: $count;
  }
}
