.nav {
  width: $full;
  background-color: $color-background-alt;
  padding: $large;
}

.nav-hamburger {
  position: fixed;
  top: $medium;
  right: $medium;
  width: $font-size-medium;
  height: $font-size-medium;

  div {
    position: relative;
    height: 4px;
    background-color: $color-text;
    margin-bottom: $small;
  }
}

.nav-hamburger-upper {

}

.nav-hamburger-middle {

}

.nav-hamburger-bottom {
}

.nav-menu {
  background: red;
  text-align: center;
  a {
    color: $color-text;
  }
  ul li {
    margin: $small 0;
  }
}
