.nav {
  position: fixed;
  top: 0;
  width: $width-full;
  z-index: 1;
}

// hamburger
.nav__hamburger {
  position: absolute;
  top: $pm-medium;
  right: $pm-medium;
  width: 2rem;
  z-index: 10;

  @media screen and (min-width: $breakpoint-tablet) {
    top: $pm-large;
    right: $pm-large;
    width: 3rem;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.nav__hamburger-line {
  height: 4px;
  background-color: $color-text;
  margin-bottom: $pm-small;
  transition: 0.3s ease;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 6px;
    margin-bottom: $pm-small;
  }
}

.hamburger-is-active {
  background-color: $color-highlight;
}

// menu
.nav__menu {
  background-color: $color-background-alt;
  width: $width-full;
  padding: $pm-large 0;
  text-align: center;
  transform-origin: top;
  transform: scaleY(0);

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline;
      margin: 0 $pm-medium;
      @supports ((display: -webkit-box) or (display: flex)) {
        font-size: $font-size-small;
        display: list-item;
        margin: $pm-medium 0;
      }
    }
  }

  a {
    display: inline-block;
    color: $color-text;

    &:hover {
      color: $color-highlight;
    }

    &::after {
      content: "";
      display: block;
      bottom: 0;
      height: 2px;
      background-color: $color-highlight;
      transition: 0.2s ease;
      transform: scaleX(0);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    font-size: $font-size-medium;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    position: fixed;
    transform: scaleY(1);
    padding: $pm-medium 0;
    text-align: center;

    ul li {
      display: inline;
      margin: 0 $pm-large;
    }
  }
}

.nav__menu__logo {
  height: 50px;
  &:hover {
    transform-origin:  top;
		animation-name: dangle;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}

.nav-is-active {
  animation: menuAnimationOn 0.5s 1;
  transform: scaleY(1);
}

.nav-not-active {
  animation: menuAnimationOff 0.3s 1;
  transform: scaleY(0);
}
