.nav {
  top: 0;
  width: $full;
  height: 20vh;
}

// hamburger
.nav-hamburger {
  position: fixed;
  top: $medium;
  right: $medium;
  width: 2rem;
  z-index: 10;

  @media screen and (min-width: $tablet) {
    top: $large;
    right: $large;
    width: 3rem;
  }
}

.nav-hamburger-line {
  height: 4px;
  background-color: $color-text;
  margin-bottom: $small;
  transition: .3s ease;

  @media screen and (min-width: $tablet) {
    height: 6px;
    margin-bottom: $small;
  }
}

.hamburger-is-active {
  background-color: $color-highlight;
}

// menu
.nav-menu {
  background-color: $color-background-alt;
  width: $full;
  padding: $large 0;
  text-align: center;
  transform-origin: top;
  transform: scaleY(0);

  a {
    color: $color-text;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    margin: $medium 0;
  }

  @media screen and (min-width: $tablet) {
    font-size: $font-size-medium;
  }
}

.nav-is-active {
  animation: menuAnimationOn .5s 1;
  transform: scaleY(1);
}

.nav-not-active {
  animation: menuAnimationOff .3s 1;
  transform: scaleY(0);
}

@keyframes menuAnimationOn {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes menuAnimationOff {
  0% {
    transform: scaleY(1);
  }
  70% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

/*
  TABLET
*/
