// Colors
$color-background: #f2f4f3;
$color-background-alt: #DADEDE;
$color-highlight: #D80303;
$color-text: #09110E;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-extra-large: 4rem;

$padding-small: .5rem;
$padding-medium: 1rem;
$padding-large: 2rem;
$padding-extra-large: 4rem;

$pad: 768px;
$desktop: 960px;

$width-full: 100%;
$width-half: 50%;
$width-third: 33%;
$width-fourth: 25%;
