// Colors
$color-background: #f2f4f3;
$color-background-alt: #DADEDE;
$color-highlight: #D80303;
$color-text: #09110E;
$color-citation: gray;

// font sizing
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-extra-large: 3rem;

// paddings & margins
$small: .5rem;
$medium: 1rem;
$large: 2rem;
$extra-large: 4rem;

// breakpoints
$tablet: 768px;
$desktop: 960px;

// element width
$full: 100%;
$half: 50%;
$third: 33%;
$fourth: 25%;
$fifth: 20%;
