

// Colors
$color-background: #f2f4f3;
$color-background-alt: #DADEDE;
$color-highlight: #D80303;
$color-text: #09110E;
$color-citation: gray;


// font sizing
$font-size-small: 1em;
$font-size-medium: 1.5em;
$font-size-large: 2em;
$font-size-extra-large: 3em;

// paddings & margins
$small: .5em;
$medium: 1em;
$large: 2em;
$extra-large: 4em;
