@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "animations";
// General section styling goes here!
body {
    font-family: "Comfortaa", verdana;
    overflow-x: hidden;
}

section>h2 {
    font-size: $font-size-extra-large;
}

h2,
h3,
h4 {
    text-align: center;
}

.background--wrapper {
    position: absolute;
    width: 100%;
    height: 130em;
    top: 40%;
    overflow: hidden;
    z-index: -1;
    @media screen and (min-width: $breakpoint-tablet) {
        height: 110em;
    }
    @media screen and (min-width: $breakpoint-desktop) {
        top: 45%;
        height: 100em;
    }
}

.background {
    transform: rotate(1deg);
    background-color: $color-background-alt;
    height: 100%;
    width: 100%;
    @media screen and (min-width: $breakpoint-desktop) {
        transform: rotate(2deg);
    }
}

// Header styling
.header {
    display: block;
    width: 100%;
    padding: $pm-large*4 0;
}

.header__container {
    position: relative;
    img {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}

// About section
.about__container {
    margin: auto;
    width: 80%;
    z-index: 1;
    max-width: 1400px;
    margin-bottom: 200px;
}

.about__text {
    text-align: justify;
    text-justify: inter-word;
    line-height: $font-size-large;
    color: $color-text;
    font-size: $font-size-small;
    margin: $pm-large*2 0;
    @media screen and (min-width: $breakpoint-tablet) {
        margin: $pm-extra-large;
    }
    @media screen and (min-width: $breakpoint-desktop) {
        font-size: $font-size-medium;
        line-height: $font-size-large;
        margin: $pm-extra-large $pm-extra-large*2;
    }
}

.about__text__big {
    color: $color-highlight;
    font-size: $font-size-medium;
    @media screen and (min-width: $breakpoint-tablet) {
        font-size: $font-size-large;
    }
}

// Services section styling
h3 {
    margin-top: $pm-extra-large;
}

.services__container {
    padding: $pm-small;
    font-size: $font-size-small;
    margin-bottom: $pm-extra-large*2;
    @media screen and (min-width: $breakpoint-tablet) {
        font-size: $font-size-medium;
        padding: $pm-small;
        display: flex;
    }
    img {
        width: 40%;
    }
}

.services__left {
    @media screen and (min-width: $breakpoint-tablet) {
        border-right: 1px solid #000;
        height: 48em;
        flex: 1 1 33%;
        margin-left: $pm-small;
    }
}

.services__center {
    @media screen and (min-width: $breakpoint-tablet) {
        float: left;
        width: $width-third;
        border-right: 1px solid #000;
        height: 48em;
        flex: 1 1 33%;
    }
}

.services__right {
    @media screen and (min-width: $breakpoint-tablet) {
        float: left;
        width: $width-third;
        flex: 1 1 33%;
        margin-right: $pm-small;
    }
}

.services__list li {
    list-style-type: disc;
    margin: $pm-medium;
}

.services__img {
    text-align: center;
    img {
        clear: both;
    }
    @supports (display: flex) {
        margin: $pm-large auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Review section styling goes here
.reviews__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}

.reviews__card {
    border-radius: $pm-medium;
    background-color: $color-background-alt;
    padding: 0 $pm-large;
    margin: $pm-small;
}

.reviews__card__text {
    font-style: italic;
    font-size: $font-size-small;
    &::before,
    &::after {
        font-size: $font-size-large;
        color: $color-highlight;
        padding: 0 5px;
    }
    &::before {
        content: "“";
    }
    &::after {
        content: "”";
    }
}

.reviews__card__name {
    font-size: $font-size-extra-small;
    float: right;
    color: darken($color-background-alt, 40%);
}

.reviews__card__overall-scores {
    float: right;
    height: 15px;
    clear: both;
    margin-bottom: $pm-medium;
}

// Footer section
.footer {
    margin-top: 100px;
    background-color: $color-text;
    color: $color-background;
}

.footer__container {
    @include flex(column,
    center,
    center);
    text-align: center;
    padding-top: $pm-large;
}

.footer__adress--text {
    font-size: $font-size-small;
    @supports (display: flex) {
        text-align: left;
    }
    @media screen and (min-width: $breakpoint-tablet) {
        font-size: $font-size-medium;
    }
}

.footer__social-media__button {
    width: 3em;
    @supports (display: flex) {
        width: $pm-large;
    }
    @media screen and (min-width: $breakpoint-tablet) {
        width: $font-size-extra-large;
    }
}

.footer__arrow--arrow {
    color: $color-background;
    font-size: $font-size-extra-large * 2;
}