@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import "variables";
@import "mixins";
@import "reset";
@import "nav";
@import "animations";
// General section styling goes here!
body {
  font-family: "Comfortaa", verdana;
  overflow-x: hidden;
}

section > h2 {
  font-size: 2.5rem;
}

h2,
h3,
h4 {
  text-align: center;
}

.background {
  top: 90vh;
  background-color: $color-background-alt;
  transform: rotate(1deg);
  height: 200vh;
  position: absolute;
  width: 100%;
  z-index: -1;

  @media screen and (min-width: $breakpoint-tablet) {
    transform: rotate(2deg);
  }

  @media screen and (min-width: $breakpoint-desktop) {
    transform: rotate(3deg);
  }
}

// Header styling
.header {
  display: block;
  width: 100%;
  padding: $pm-large*4 0;
}

.header__container {
  position: relative;
  img {
    display: block;
    margin: 0 auto;
    width: 80%;
  }
}

// About section
.about__container {
  width: 80%;
  z-index: 1;
}

.about__text {
  text-align: justify;
  text-justify: inter-word;
  color: $color-text;
  font-size: $font-size-medium;

}

.about__text__big {
  color: $color-highlight;
  font-size: $font-size-large;

}

// Services section styling
.services__container {
  padding: $pm-medium;
  font-size: $font-size-small;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: $font-size-medium;
    padding: $pm-medium;
  }
}

.services__left {
  @media screen and (min-width: $breakpoint-tablet) {
    float: left;
    width: 33%;
    border-right: 1px solid #000;
    height: 26em;
  }
}

.services__center {
  @media screen and (min-width: $breakpoint-tablet) {
    display: inline-block;
    width: 33%;
    border-right: 1px solid #000;
    height: 26em;
  }
}

.services__right {
  @media screen and (min-width: $breakpoint-tablet) {
    float: right;
    width: 33%;
  }
}

.services__list li {
  list-style-type: disc;
}

// Review section styling goes here
.reviews__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 0 20rem 0 20rem;
  }
}

.reviews__overall-scores {
  text-align: center;
  padding: $pm-large;
}

.reviews__card {
  border-radius: $pm-small;
  background-color: darken($color-background, 5);
  padding: 0 $pm-medium;
  margin: $pm-small;
}

.reviews__card__text {
  font-style: italic;
  color: $color-citation;
  font-size: $font-size-medium;
  &::before,
  &::after {
    font-size: $font-size-large;
    color: $color-highlight;
  }
  &::before {
    content: "“";
  }
  &::after {
    content: "”";
  }
}

.reviews__card:nth-of-type(1),
.reviews__card:last-of-type {
}
.reviews__card__name {
  text-align: right;
  margin-right: 20px;
}

// Footer section
.footer {
  background-color: $color-text;
  color: $color-background;
}

.footer__container {
  @include flex(column,
    center,
    center);
  text-align: center;
  padding-top: $pm-large;
}

.footer__adress--text {
  font-size: $font-size-small;
  @supports (display: flex) {
    text-align: left;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: $font-size-medium;
  }
}

.footer__social-media__button {
  width: 3em;
  @supports (display: flex) {
    width: $pm-large;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    width: $font-size-extra-large;
  }
}

.footer__arrow--arrow {
  color: $color-background;
  font-size: $font-size-extra-large * 2;
}
